#menuBar {
  display: flex;
  width: 200px;
  padding: 20px;
  flex-direction: column;
  gap: 10px;
  min-height: calc(100vh - (30px + 10px));
}

.spacer {
  flex-grow: 1;
  border-bottom: 1px solid #33333381;
}

.button {
  display: flex;
  height: 30px;
  padding: 5px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}

.button-active {
  background-color: rgb(238, 238, 238);
}
