#messageArea {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  position: relative;
}

.icon {
  position: absolute;
  top: 2px;
}

.message {
  margin-left: 25px;
}

#viewErrorArea {
  align-self: stretch;
}

#viewErrorMessageButton {
  font-size: 12px;
  cursor: pointer;
}

#viewErrorMessageButton:hover {
  text-decoration: underline;
}

#errorMessageBox {
  background: rgb(238, 238, 238);
  padding: 10px;
  border-radius: 5px;
  width: calc(100% - 20px);
  text-align: left;
  font-family: "Courier New", "Lucida Console", Monospace;
}

.faviconDownloadArea {
  display: contents;
  width: calc(100% - 20px);
}

#faviconImg {
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}

#downloadNowButton {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}
